img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  padding: 3px;
  box-sizing: border-box;
  float: left;
}

h1 {
  background-color: aqua;
  width: 800px;
  margin: 0;
  border: 5px solid black;
  padding: 15px;
  box-sizing: border-box;
}
