<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>java-ee</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- tell the container to create an instance of MyServlet class -->
	<servlet>
		<servlet-name>srv</servlet-name>
		<servlet-class>a.MyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- tell the container what is the URL for the MyServlet instance -->
	<servlet-mapping>
		<servlet-name>srv</servlet-name>
		<url-pattern>/srv</url-pattern>
		<url-pattern>/aaa</url-pattern>
		<url-pattern>/bbb</url-pattern>
	</servlet-mapping>
	
	
</web-app>